*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: linear-gradient(to right, green, yellow);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;

}

.container >*{
    width: 200px;
    aspect-ratio: 1/1;
    background-color: darkgreen;
}